.header-wrapper {
    font-family: 'Fredoka One', cursive;
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;

    .logo {
        margin-top: 5px;
        margin-bottom: 15px;
        text-align: center;
        font-size: 4em;
        text-shadow: 0 1px hsl(0,0%,85%),
                     0 2px hsl(0,0%,80%),
                     0 3px hsl(0,0%,75%),
                     0 4px hsl(0,0%,70%),
                     0 5px hsl(0,0%,65%),
                     0 6px hsl(0,0%,60%),
                     0 7px hsl(0,0%,55%),
                     0 7px 14px black;
    }
    
}