.home-page-wrapper {
    @include main-wrapper();
    height: 60vh;
    background-color: lightblue;
    font-size: 0.8em;
   
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
     
        .body-wrapper {
            @include info-section();
            display: flex;
            flex-direction: column;
            background-color: rgb(221, 196, 163);
            font-family: 'Fira Sans Condensed', sans-serif;
            color: white;
            font-size: 2em;
            margin-right: 5px;
            text-shadow: 2px 2px 0 #000000, 
                        2px -2px 0 #000000, 
                        -2px 2px 0 #000000, 
                        -2px -2px 0 #000000, 
                        2px 0px 0 #000000, 
                        0px 2px 0 #000000, 
                        -2px 0px 0 #000000, 
                        0px -2px 0 #000000;
            
            p {
                padding: 10px;
            }
        }
    }
}
@media screen and (max-width: 780px){
    .home-page-wrapper{
        font-size: 0.57em;

        .body-wrapper {
            .middle {
                height: 100%;
            }
        }
    }
}


