.home-page-wrapper {
    @include main-wrapper();
    height: 60vh;
    background-color: rgb(21, 137, 175);
    font-size: 0.8em;
   
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
     
        .body-wrapper {
            @include info-section();
            display: flex;
            flex-direction: column;
            background-color: lightgray;
            font-family: 'Fredoka One', cursive;
            letter-spacing: 0.2rem;
            color: darkslategray;
            text-shadow: 0 1px hsl(0,0%,85%),
                               0 2px hsl(0,0%,80%),
                               0 3px hsl(0,0%,75%),
                               0 4px 14px black;
            font-size: 1.4em;
            margin-right: 5px;

            p {
                padding: 0px 10px 0px 10px;

                .icon {
                    // color: rgb(21, 137, 175);
                    color: darkred;
                 }
            }
        }
    }
}
@media screen and (max-width: 780px){
    .home-page-wrapper{
        font-size: 0.57em;

        .body-wrapper {
            .middle {
                height: 60%;
            }
        }
    }
}


