.home-page-wrapper {
    @include main-wrapper();
    background-color: lightblue;
        
    .body-wrapper {
        @include info-section();
        background-color: rgb(221, 196, 163);
        font-size: 3em;
        color: white;
            font-size: 3em;
            text-shadow: 0 1px hsl(0,0%,85%),
            0 2px hsl(0,0%,80%),
            0 3px hsl(0,0%,75%),
            0 4px hsl(0,0%,70%),
            0 5px hsl(0,0%,65%),
            0 6px hsl(0,0%,60%),
            0 7px hsl(0,0%,55%),
            0 7px 14px black;
    }
}