.login-page-wrapper {
    transition:  3s;
    @include main-wrapper();
    background-color: purple;
    .middle {
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;

    .body-wrapper {
        height: 60%;
        @include info-section();
        background-color: lightgray;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .login-top {
            @include loginRegisterSection();

            p {
                @include loginRegisterLabels();
            }

            input {
                height: 20%;
            }

            #error {
                color: rgb(71, 2, 71);
            }
        }

        .login-middle {
            @include loginRegisterSection();

            p {
                @include loginRegisterLabels();
            }
            
            input {
                height: 20%;
            }
        }

        button {
            @include loginRegisterLabels();
            outline: none;
            margin: 0px;
            border: 3px solid darkgray;
            border-radius: 5px;
            height: 11%;
            background-color: white;

            &:hover {
                outline: none;
                color: purple;
                border: 3px solid purple;
            }
        }
    }
}
}
@media screen and (max-width: 700px) {
    .login-page-wrapper {
        font-size: 1.4em;
        .middle {
            .body-wrapper {
                height: 50%;
                .login-top {
                    flex-direction: column;
                }
                .login-middle {
                    flex-direction: column;
                }
                button {
                    height: 9%;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }


    }
  
}