@mixin main-wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    display: grid;
    grid-template-rows: 5fr 1fr;
    align-content: center;
    align-items: center;
    overflow: scroll;
}

@mixin info-section {
    height: 60vh;
    width: 80%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-family: 'Fredoka One', cursive;
      color: darkslategray;
      text-shadow: 0 1px hsl(0,0%,85%),
                         0 2px hsl(0,0%,80%),
                         0 3px hsl(0,0%,75%),
                         0 3px 14px black;
    // font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    border: 10px solid white;
    -webkit-box-shadow: 24px 45px 63px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 24px 45px 63px 0px rgba(0,0,0,0.75);
    box-shadow: 24px 45px 63px 0px rgba(0,0,0,0.75);
    overflow: scroll;
}

@mixin loginRegisterLabels {
    font-family: 'Fredoka One', cursive;
      text-shadow: 0 1px hsl(0,0%,85%),
                         0 2px hsl(0,0%,80%),
                         0 3px hsl(0,0%,75%),
                         0 3px 14px black;
    color: darkslategray;
    font-size: 1.3em;
    margin-right: 5px;
}

@mixin loginRegisterSection {
    display: flex;
    justify-content: center;
    align-items: center;
}