.monthview-page-wrapper {
    @include main-wrapper();
    height: 60vh;
    background-color: rgb(56, 119, 56);
    
    .middle {
        display: flex;
        justify-content: center;
        align-items: center;

        .body-wrapper {
            @include info-section();
            height: 100%;
            background-color: lightsteelblue;
            display: flex;

            .appointments {
                .appointment {
                    list-style-type: none;
                    margin-bottom: 10px;

                    button {
                        background-color: transparent;
                        border: 3px solid transparent;
                        @include loginRegisterLabels();

                        &:hover {
                            border-bottom: 3px solid black;
                        }
                    }

                    .popup {
                        .modal-appointment {
                            .modal {
                                list-style-type: none;
                                @include loginRegisterLabels();
                            }
                        }
                    }
                }
            }

            .sheduler-section {
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                flex-direction: column;

                p {
                    @include loginRegisterLabels();
                } 
                input {
                    outline: none;
                    height: 25px;
                } 

                button {
                    @include loginRegisterLabels();
                    margin-top: 10px;
                    margin-bottom: 10px;
                    border: 3px solid black;
                    outline: none;

                    &:hover {
                        color: slategray;
                    }

                    
                }
                #error {
                    color: yellow;
                }
            }
        }
    }
}

.popup-content{
    list-style-type: none;
    @include loginRegisterLabels();

    li {
        margin: 10px;
    }
}

@media screen and (max-width: 780px) {
    .monthview-page-wrapper {
        font-size: 0.5em;

        .body-wrapper {
            flex-direction: column;
        }
    }
}