.monthview-page-wrapper {
    @include main-wrapper();
    background-color: rgb(56, 119, 56);

    .body-wrapper {
        @include info-section();
        height: 80%;
        background-color: lightsteelblue;

        .calendar {
            height: 400px;
        }
    }
}