
.menu-toggle {
 display: flex;
 justify-content: space-around;
 background-color: transparent;
 height: 100vh;
 
 
  .header {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }

  a {
    
    border: 3px solid transparent;
    text-decoration: none;
    @include loginRegisterLabels();
    font-size: 2em;
   
      font-family: 'Fredoka One', cursive;
      color: white;
      text-shadow: 0 1px hsl(0,0%,85%),
                         0 2px hsl(0,0%,80%),
                         0 3px hsl(0,0%,75%),
                         0 4px hsl(0,0%,70%),
                         0 5px hsl(0,0%,65%),
                         0 6px hsl(0,0%,60%),
                         0 7px hsl(0,0%,55%),
                         0 7px 14px black;
    transition: color 0.3s ease;
    
    &:hover {
        color: slategray;
       
    }
  }   
}

@media screen and (max-width: 780px) {
  .menu-toggle {
  font-size: 0.57em;
  }
}