
.menu-toggle {
 display: flex;
 justify-content: space-around;
  


  .header {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    
  }

  a {
    border: 3px solid transparent;
    text-decoration: none;
    @include loginRegisterLabels();

  
  transition: color 0.3s ease;

    &:hover {
        color: lightgray;
        border-bottom: 3px solid black;
    }

  }


        
    
}