.register-page-wrapper {
    @include main-wrapper();
    background-color: rgb(236, 71, 71);

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;

        .body-wrapper {
            @include info-section();
            height: 80%;
            background-color: lightgoldenrodyellow;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .register-section {
                @include loginRegisterSection();
                
                p {
                    @include loginRegisterLabels();
                }

                input {
                    height: 20%;
                }
            }

            button {
                @include loginRegisterLabels();
                margin: 10px;
                border: 3px solid black;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .register-page-wrapper {
        font-size: 0.7em;

        .register-section {
            flex-direction: column;
        }
    }
  
}