.register-page-wrapper {
    @include main-wrapper();
    height: 60vh;
    background-color: rgb(236, 71, 71);
  
    min-height: 100vh;

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;

        .body-wrapper {
            @include info-section();
            height: 80%;
            background-color: lightgray;
           
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            #error {
                @include loginRegisterLabels();
            }

            .register-section {
                @include loginRegisterSection();
                
                p {
                    @include loginRegisterLabels();
                }

                input {
                    height: 20%;
                }
            }

            button {
                @include loginRegisterLabels();
                outline: none;
                margin: 10px;
                border: 3px solid darkgray;
                border-radius: 5px;
                height: 15%;
                background-color: white;
    
                &:hover {
                    color: red;
                    border: 3px solid red;
                }
            }

            p {
                @include loginRegisterLabels();
                color: darkred;
            }
           
        }
    }
}

@media screen and (max-width: 700px) {
    .register-page-wrapper {
        font-size: 1.2em;

        .register-section {
            flex-direction: column;
        }
    }
  
}