.save-the-date-page-wrapper {
    @include main-wrapper();
    background-color:  goldenrod;
    height: 100vh;
    justify-items: center;

    .middle {
        display: flex;
        justify-content: center;
        align-items: center;
        .body-wrapper {
            @include info-section();
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            background-color: rgb(193, 223, 193);

            .sheduler-section {
                display: flex;
                justify-content: space-around;
                align-items: center;

                @include loginRegisterSection();
                
                p {
                    @include loginRegisterLabels();
                }

                input {
                    height: 20%;
                }
            }

            .calendar-wrapper {
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 50%;
            }

            .time-wrapper {
                background-color: white;

                .react-time-picker__wrapper {
        
                    .react-time-picker__inputGroup__input, #text-field-container, input, span {
                        font-family: 'Fira Sans Condensed', sans-serif;
                        color: black;
                        height: 100%;                            
                    }

                    button {
                        height: 100%;
                    }
                }
            }

            button {
                @include loginRegisterLabels();
                margin: 0px;
                margin-bottom: 10px;
                border: 3px solid black;
            }  
        }
    }
}