.save-the-date-page-wrapper {
    @include main-wrapper();
    background-color:  goldenrod;
    height: 70vh;
    justify-items: center;
    overflow: scroll;

    .middle {
        
        height: 60%;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        .body-wrapper {
            overflow: scroll;
            @include info-section();
            height: 60%;
            font-size: 0.75em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            background-color: lightgray;

            .sheduler-section {
                display: flex;
                justify-content: space-around;
                align-items: center;

                @include loginRegisterSection();
                
                p {
                    @include loginRegisterLabels();
                }

                input {
                    height: 20%;
                }
            }

            .calendar-wrapper {
                display: flex;
                flex-direction: column;
                width: 60%;
                height: 30%;

                button {
                    width: auto;
                }

                .react-calendar__month-view__weekdays {
                    visibility: hidden;
                }

                .react-calendar__month-view__days {
                    margin-left: 30px;
                }
            }

            .time-wrapper {
                background-color: white;

                .react-time-picker__wrapper {
        
                    .react-time-picker__inputGroup__input, #text-field-container, input, span {
                        font-family: 'Fira Sans Condensed', sans-serif;
                        color: black;
                        height: 100%;                            
                    }

                    button {

                        height: 90%;
                    }
                }
            }

            button {
                @include loginRegisterLabels();
                width: 20%;
                background-color: white;
                outline: none;
                margin-bottom: 3px;
                margin-top: 3px;
                border: 3px solid darkgray;
                border-radius: 5px;
                text-shadow: none;
                text-align: center;

                &:hover {
                    color: goldenrod;
                    border: 3px solid goldenrod;
                }
            }  

            #save-btn {
                width: 15%;
            }

            #error {
                @include loginRegisterLabels();
                color: rgb(189, 141, 19);
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .save-the-date-page-wrapper {
        font-size: 1.5em;
        overflow: scroll;

        .middle {
            
        

        .body-wrapper {
        
            overflow: scroll;
            color: darkslategray;
            box-shadow: none;
            // text-shadow: none;
            button {
                margin-top: 5px;
            }

            #save-btn {
                width: 25%;
            }

            .sheduler-section { 
                text-shadow: none;
                flex-direction: column;
                color: black;
                width: 100%; 
            }

                .calendar-wrapper {
                    .react-calendar {
                        .react-calendar__month-view__weekdays {
                            visibility: hidden;
                        }
                        .react-calendar__month-view__days {
                            align-content: center;
                            margin-left: 70px;
                            width: 80%;

                            .react-calendar__month-view__days__day {
                                text-align: center;
                                width: 100%;

                                abbr {
                                    margin-right: 5px;
                                }
                            }

                        }
                    
                        button {
                            text-align: center;
                            margin-bottom: 2px;
                            margin-left: 2px;
                            color: black;
                            text-shadow: none;
                        }
                    } 
                }
    
                .time-wrapper {
                    height: 25px;
                    button {
                        font-size: 0.5em;
                    }
            }
        }  
    }
    }
}

@media screen and (max-width: 420px) {
    .save-the-date-page-wrapper {
        font-size: 1em;

        .middle {

            .body-wrapper {

            
        .calendar-wrapper {
            .react-calendar {
                .react-calendar__month-view__weekdays {
                    visibility: hidden;
                }
                .react-calendar__month-view__days {
                    margin-left: 35px;
                }
            }
        }
    }
}
    }
}