.save-the-date-page-wrapper {
    @include main-wrapper();
    background-color:  goldenrod;
    height: 70vh;
    justify-items: center;

    .middle {
        height: 60%;
        font-size: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        .body-wrapper {
            @include info-section();
            height: 60%;
            font-size: 0.75em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 100%;
            background-color: lightgray;

            .sheduler-section {
                display: flex;
                justify-content: space-around;
                align-items: center;

                @include loginRegisterSection();
                
                p {
                    @include loginRegisterLabels();
                }

                input {
                    height: 20%;
                }
            }

            .calendar-wrapper {
                display: flex;
                flex-direction: column;
                width: 60%;
                height: 30%;
                .react-calendar__month-view__weekdays {
                    visibility: hidden;
                }
            }

            .time-wrapper {
                background-color: white;

                .react-time-picker__wrapper {
        
                    .react-time-picker__inputGroup__input, #text-field-container, input, span {
                        font-family: 'Fira Sans Condensed', sans-serif;
                        color: black;
                        height: 100%;                            
                    }

                    button {

                        height: 90%;
                    }
                }
            }

            button {
                @include loginRegisterLabels();
                outline: none;
                margin-bottom: 3px;
                margin-top: 3px;
                border: 3px solid darkgray;
                border-radius: 5px;
                text-shadow: none;

                &:hover {
                    color: goldenrod;
                    border: 3px solid goldenrod;
                }
            }  

            #error {
                @include loginRegisterLabels();
                color: rgb(170, 128, 22);
            }
        }
    }
}

@media screen and (max-width: 780px) {
    .save-the-date-page-wrapper {
        font-size: 1.4em;

        .body-wrapper {
            color: black;
            text-shadow: none;
            button {
                margin-top: 5px;
            }

            .sheduler-section { 
                text-shadow: none;
                flex-direction: column;
                color: black;
                width: 100%;
                // font-size: 1em;  
            }

                .calendar-wrapper {
                    .react-calendar {
                        .react-calendar__month-view__weekdays {
                            visibility: hidden;
                        }
                    
                        button {
                            // border: none;
                            margin-bottom: 2px;
                            margin-left: 2px;
                            // font-size: medium;
                            color: black;
                            text-shadow: none;
                        }
                    } 
                }
    
                .time-wrapper {
                    height: 25px;
                    button {
                        font-size: 0.5em;
                    }
            }
        }  
    }
}